@{
    Layout = "_FocusLayout";
    ViewData["Title"] = "Measure Models";
}

<div id="measurePage" style="min-height:100vh;background:#000;color:#0f0;"></div>

@section Scripts {
    <script type="module" src="~/js/measure-models.js" asp-append-version="true"></script>
}
